<!DOCTYPE html>


<html>
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <script src="./result-screen.js"></script>
        <script src="./timer-component.js"></script>
    </head>
    <body class="bg-baby-blue-eyes">
        <div class="h-64 bg-oxford-blue">
            <h2 class="text-7xl text-center text-ivory pt-14 font-mono align-middle">
                SummerCodeJam
            </h2>
            <h3 class="text-m text-linen font-mono mt-5 text-center">
                A thing we are in fact doing.
            </h3>
        </div>
        <!-- div for a loading bar note duration-1000 matches the 
             timerComponents's interval function being called
             every 1000 ms. These two should always match.
        -->
        <div class="w-full bg-gray-200 h-3" 
        x-data="timerComponent(10000)"
        x-init="init()">
            <div 
            class="bg-green-600 h-3 transition-timer-width 
            ease-linear duration-1000" 
            :style="'width: ' + getProportion()"
            
            ></div>
          </div>

            <h1 class="mt-8 text-center font-bold text-2xl text-oxford-blue" x-data="" x-text="$store.results.prompt"></h1>

            <div x-data="{ voted : false }" class="m-8 rounded-lg bg-light-cyan py-1 px-3">
                    <!-- Template for the list printing of the vote results,
                         note that each object has a 'vis' property that gets
                         updated on initiation, this is to trigger the transtion 
                         on spawn once it gets updated by the init function-> nextick
                    -->
                    <template x-data="" x-for="(sentence, index) in $store.results.sentences">
                        <div class="my-4 bg-ivory rounded-lg shadow-sm p-4 border-oxford-blue" x-transition.duration.500ms 
                        x-data="{vis: false}" x-show="vis" x-init="$nextTick(() => {vis = true})">
                            <div class="flex flex-row justify-between border-b border-oxford-blue">
                                <span class="text-oxford-blue" x-text="sentence.user"></span>
                                <span class="text-gray-800" x-text="'Votes: ' + sentence.votes"></span>
                            </div>
                            <div style="display: flex; justify-content: space-between;">
                                <div class="my-4 text-oxford-blue" x-text="sentence.text"></div>
                                <!-- vote button -->
                                <template x-if="!voted">
                                    <button x-if="voted" @click="voted = true;" class="text-4xl my-4 rounded-lg px-3 py-2 bg-green-300 hover:bg-green-400 duration-300">Vote</button>
                                </template>
                            </div>
                        </div>
                    </template>
                    <template x-if="voted">
                        <h1 class="my-8 text-center font-bold text-4xl text-oxford-blue">You Have Voted!</h1>
                    </template>

            </div>
            
    </body>
</html> 

